<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <section id="firstSection">
        <div class="navbar">
            <div class="logoContainer">
                <a class="logo" href="/">LOGO</a>
            </div>
            <div class="navLinks">
                <p><a href="...">Sign In</a></p>
                <p><a href="...">Create Account</a></p>
                <p><a href="...">Books</a></p>
            </div>
        </div>
        <div id="heroSection">
            <div class="contentContainer">
                <div class="moto">
                    <h2>Track Books you’ve read.</h2>
                    <h2>Save those you want to see.</h2>
                    <h2> Tell your friends what’s good.</h2>
                </div>
                <button id="getStartedBtn">Get Started It's free</button>
                <p>A social Network for book lovers</p>
            </div>
        </div>
    </section>
    <section>
        <div class="cardContainer">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </section>

</body>

</html>